<ng-container *ngIf="viewModel$ | async as vm">
  <h1>Contract: 753438</h1>

  <div class="mx-0 md:mx-8">
    <div class="grid">
      <div class="col">
        <h3>Futures</h3>
        <!-- Futures -->
        <p-table
          [value]="vm.futures"
          styleClass="p-datatable-striped"
          [tableStyle]="{ 'min-width': '50rem' }"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Id</th>
              <th>Split From</th>
              <th>Lots</th>
              <th>Price</th>
              <th>Futures Price With Offset</th>
              <th>Ccy Multiplier</th>
              <th>Allocated To</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-f>
            <tr>
              <td>{{ f.id }}</td>
              <td>{{ f.splitFrom }}</td>
              <td>{{ f.lots }}</td>
              <td>{{ f.price }}</td>
              <td>{{ f.futuresPriceWithOffset }}</td>
              <td>{{ f.ccyMultiplier }}</td>
              <td>{{ f.allocatedTo }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <div class="grid mt-4">
      <div class="col">
        <!-- Buttons -->
        <div class="card flex">
          <form [formGroup]="formSelection">
            Sub-Tranche:
            <p-multiSelect
              [options]="subTrancheOptions"
              formControlName="selectedSubTranche"
              optionLabel="subTrancheDisplay"
              placeholder=""
            ></p-multiSelect>
          </form>
        </div>
      </div>
    </div>

    <div class="grid mt-4">
      <div class="col">
        <!-- SubTranches -->
        <h2>Sub-Tranches</h2>

        <form [formGroup]="vm.form">
          <p-table
            [value]="subTrancheFormArray.controls"
            styleClass="p-datatable-striped"
            [tableStyle]="{ 'min-width': '50rem' }"
          >
            <ng-template pTemplate="header">
              <tr>
                <th></th>
                <th>Id</th>
                <th>Quantity</th>
                <th>Priced Lots</th>
                <th>Unpriced Lots</th>
                <th>WAP</th>
                <th>Futures Prem</th>
                <!-- ABS(ABS(pp.FuturesExecutionLevel) - ABS(pp.ClientFuturesExecutionLevel)) -->
                <th>Client Futures ExLvl</th>
                <th>Contractual Diff</th>
                <th>Invoice Price</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-f>
              <tr>
                <td>
                  <p-checkbox
                    [formControl]="f.controls.isSelected"
                    [binary]="true"
                  ></p-checkbox>
                </td>
                <td>{{ f.controls.subTrancheDisplay.value }}</td>
                <td>{{ f.controls.quantity.value }}</td>
                <td>{{ f.controls.pricedLots.value }}</td>
                <td>{{ f.controls.unpricedLots.value }}</td>
                <td>{{ f.controls.wap.value }}</td>
                <td>{{ f.controls.fPrem.value }}</td>
                <td>{{ f.controls.clientFuturesExLvl.value }}</td>
                <td>{{ f.controls.contractualDiff.value }}</td>
                <td>{{ f.controls.invoicePrice.value }}</td>
              </tr>
            </ng-template>
          </p-table>
        </form>
      </div>
    </div>
  </div>
</ng-container>
